{% extends 'base.html.twig' %}

{% block title %}Create advert - {{ parent() }} {% endblock %}



{% block body %}
<div class='container text-center'>
<h1 class='text-center'> 
    Postez votre annonce 
</h1>

{{ form_start( form ) }}

<div class='form-group'>
    {{ form_row( form.title ) }}
</div>
<div class='form-group'>
    {{ form_row( form.price ) }}
</div>
<div class='form-group'>
    {{ form_row( form.place ) }}
</div>
<div class='form-group'>
    {{ form_row( form.description ) }}
</div>
<div class='form-group'>
    {{ form_row( form.photo ) }}
</div>
<div class='form-group'>
    {{ form_row( form.category ) }}
</div>

<button class='btn btn-success'> Envoyer </button>
{{ form_end( form )}}
</div>
{% endblock %}
